<div class="item" (click)="openModal(itemData.id)">
  <div class="item__title">{{itemData.title}}</div>
  <div class="item__vicinity" [innerHtml]="itemData.vicinity"></div>  
  <div class="item__categoryTitle" *ngIf="itemData.categoryTitle">{{itemData.categoryTitle}}</div>  
  <div class="item__resultType">property type: <b>{{itemData.resultType}}</b></div> 
</div>