.item
    background: #fcf0ea
    cursor: pointer
    opacity: .5
    transition: .5s
    padding: 1rem
    line-height: 1.5
    &:hover
        background: #ccf0ff
        opacity: 1
    &__title
        font-weight: bold
        font-size: 1.2rem
    &__vicinity
        font-size: 0.8rem
        font-style: italic
    &__categoryTitle
        font-size: 0.7rem
        display: inline
        padding: 0.3rem
        background: #e98455
        color: #ffffff
        border-radius: 5px
    &__resultType
        font-size: 0.6rem    
                    