<div class="modal" *ngIf="show">
  <div class="app-modal">
    <div class="app-modal-body">
      <div class="app-modal-body__title">{{item.title}}</div>
      <div class="app-modal-body__vicinity" [innerHTML]="item.vicinity"></div>
      <button class="app-modal-body__button app-modal-body__button--book" (click)="book()">Book</button>
      <button class="app-modal-body__button app-modal-body__button--cancel" (click)="closeModal()">Cancel</button>
    </div>
  </div>
  <div class="app-modal-background"></div>
</div>