
.modal
    .app-modal
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 1000
        overflow: auto
        .app-modal-body
            padding: 20px
            background: #fff
            margin: 20% 20%
            border: 1px solid #ebebeb
            &__title
                font-weight: bold
                font-size: 2rem
            &__vicinity
                font-size: 1rem
                font-style: italic    
            &__button
                padding: 1rem
                border: none
                outline: none
                text-transform: uppercase
                color: #ffffff
                margin-top: 1rem
                margin-right: 1rem
                cursor: pointer
                &--book
                    background: #25a9df
                &--cancel
                    background: #e98455   
    .app-modal-background
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-color: #000
        opacity: 0.75
        z-index: 900
body.app-modal-open 
    overflow: hidden