<app-header></app-header>
<div class="contentView">
    <div class="contentView__map">
        <app-map></app-map>
    </div>
    <div class="contentView__list">
        <app-list></app-list>
    </div>
</div>
<app-modal></app-modal>