.search
    background : url( '/assets/search-nav-icon@2x.png' ) no-repeat
    background-size: 2rem
    background-position: 0
    padding: 1.7rem
    input
        margin-left: 0.5rem
        font-size: 1rem
        color: #fff
        background: transparent
        border: 0
        outline: none
        font-family: 'Open Sans', sans-serif
        font-weight: lighter